/*COLORS*/
$color-principal:#ED5565;
$color-secundario: #725AC1;
$color-terciario: #f5deb3;
$f-color: #fff;
$bg-mediaColor: #FFE8E5;

/*SIZES*/
$size-h1: 3rem;

/*FONTS*/
$font-family-h1: 'Give You Glory';
$font-family-general: 'Open Sans', sans-serif;
$font-header: 'Balsamiq Sans';